[package]
name = "migration"
version = "0.1.0"
edition = "2021"

[dependencies]
sea-orm-migration = "1.0"
async-std = { version = "1", features = ["attributes", "tokio1"] } 
entity = { path = "../entity" }
